/* The font text of the title*/
@import url(http://fonts.googleapis.com/css?family=Pacifico);

@import url(http://fonts.googleapis.com/css?family=Merienda+One);


/***********************
    scrollbar
************************/

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1F618D;
  border-radius: 10px;
}

/***********************
    Title setting
************************/

h1 {
  font: 400 3em/1.5 'Pacifico', Helvetica, sans-serif;
  color: White;
  text-shadow: 0.3em 0.3em 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
  background: #484848;
  position: relative;
  text-align: center;
}

/***********************
    All the basic setting
************************/


* {
  font-family: cursive;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #E0E0E0;
  color: #2b2e35;
  width: 100%;
  height: 100%;
}

div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);*/

/***********************
    header
************************/

header {
  overflow: hidden;
  padding: 20px 10px;
}

  header nav {
    background: #484848;
    padding-bottom: 10px;
  }

  /***********************
    header menu
************************/

  header .menu {
    list-style: none;
    background-color: #484848;
    text-align: center;
    padding: 0;
    margin: 0;
  }


    header .menu li {
      position: relative;
      display: inline;
      padding: 1em;
      width: 100%;
      font-family: "Comic Sans MS", cursive, sans-serif;
    }

  header #sale a {
    background: -webkit-linear-gradient(#E74C3C, #F44336 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

    header #sale a:hover {
      background: -webkit-linear-gradient(white, white);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

  header .menu li a {
    color: pink;
    font-size: 1.5em;
    text-decoration: none;
  }

    header .menu li a:hover {
      color: white;
    }
  /***********************
    header account menu
************************/


  header .account-menu {
    padding-top: 8px;
    background: #484848;
    text-align: center;
    padding-bottom: 8px;
  }

    header .account-menu li {
      list-style: none;
      display: inline;
    }

      header .account-menu li a {
        text-decoration: none;
        padding: 20px;
        color: pink;
      }

        header .account-menu li a:hover {
          color: white;
        }




/***********************
    header product-search-form
************************/


#product-search-form {
  display: block;
  position: relative;
  width: 200px;
  height: 30px;
  background: rgba(0,0,0,0.2);
  border-radius: 3px;
  border: 1px solid #fff;
  position: relative;
  left: 45%;
}

  #product-search-form ::placeholder {
    color: white;
  }

  #product-search-form input {
    width: 120px;
    height: 30px;
    float: left;
    padding-left: 5px;
    color: #fff;
    border: 0;
    background: transparent;
    border-radius: 3px 0 0 3px;
  }

    #product-search-form input:focus {
      outline: 0;
      background: transparent;
    }

  #product-search-form button {
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 30px;
    width: 60px;
    color: #BDC3C7;
    background: transparent;
    border-left: 1px solid #fff;
    border-radius: 0 3px 3px 0
  }


    #product-search-form button:hover {
      background: #fff;
      color: #444;
    }



    #product-search-form button:active {
      box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
    }




    #product-search-form button:focus {
      outline: 0;
    }




/***********************
    Header promo
************************/


#promo {
  display: block;
  background: white;
  text-align: center;
  padding: 10px;
}

  #promo ul li {
    display: inline;
  }


  #promo li a {
    color: black;
    text-decoration: none;
    padding: 20px;
  }



    #promo li a:hover {
      color: #99A3A4;
    }
