<header>
  <h1>The WT</h1>
  <nav>
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/">All Products</a></li>
      <li><a href="/category/men">Men</a></li>
      <li><a href="/category/women">Women</a></li>
      <li id="sale"><a href="#">SALE</a></li>
    </ul>
    <ul class="account-menu">
      <li><a href="#">My Account</a></li>
      <li><a href="/cart">View Cart</a></li>
    </ul>
    <form action="#" id="product-search-form">
      <input name="query" placeholder="search products">
      <button class="searchbutton" title="Go" type="submit"><span>Go</span></button>
    </form>
  </nav>

  <div id="promo">
    <ul>
      <li><a href="#">Free Shipping</a></li>
      <li><a href="#">Fastest Delivery</a></li>
      <li><a href="#">Free Returns</a></li>
    </ul>
  </div>
</header>
