<footer>
  <p>Copyright &copy; 2019 COMP249 Web Technology</p>

  <div id="signupform">
    <form action="#">
      <span>Sign up for special offers</span>
      <input name="email" placeholder="Enter your email" type="email">
      <button title="Go" type="submit"><span>Go</span></button>
    </form>
  </div>

  <div class="social">
    <h2>Follow Us</h2>
    <ul>
      <li><a href="https://www.facebook.com/WT" target="_BLANK">Facebook</a></li>
      <li><a href="https://instagram.com/WT" target="_BLANK">Instagram</a></li>
      <li><a href="https://www.youtube.com/channel/WT" target="_BLANK">YouTube</a></li>
    </ul>
  </div>
</footer>
