<div class="content">
  <div class="featured">
    <h2>Soft Winter Jacket</h2>
    <div class="image">
      <img alt="Soft Winter Jacket image"
           src="https://burst.shopifycdn.com/photos/smiling-woman-on-snowy-afternoon_925x.jpg">
    </div>
    <div class="description">
      Thick black winter jacket, with soft fleece lining. Perfect for those cold weather days.
    </div>
    <div class="product-detail">
      <div class="inventory">38 in stock</div>
      <div class="cost">$111.23</div>
      <div class="cart">
        <form action="/cart" method='POST'>
          <input name="quantity" type="number" value="1">
          <input name="item" type="hidden" value="8">
          <input type="submit" value="Add to Cart">
        </form>
      </div>
    </div>

  </div>


  <div id="special-offer">
    <p><a href="#" id="boguspay">BogusPay</a> Shop Now. Pay Later. Regret Forever.</p>
  </div>

  <div class="productlist" >
    <div class="product" *ngFor="let productItem of productItems">
      <h2><a href="/product/{{productItem}}">{{ productItem.name }}</a></h2>
      <div class="image">
        <img alt="{{ productItem.name }}"
             src="{{productItem.image_url}}">
      </div>
      <div class="inventory">{{productItem.inventory}} in stock</div>
      <div class="cost">${{productItem.unit_cost}}</div>
      <div class="cart">
        <form action="/cart" method='POST'>
          <input name="quantity" type="number" value="1">
          <input name="item" type="hidden" value="0">
          <input type="submit" value="Add to Cart">
        </form>
      </div>
    </div>

  
  </div>


  <div id="promotional-text">
    <p>
      THE WT delivers a stylish and current collection of men and womens apparel,
      sourced from the most coveted
      Australian and international <a href="#">brands</a>. With everything from
      <a href="#">dresses</a>
      to <a href="#">jeans</a>,
      <a href="#">ankle boots</a> to <a href="#">sneakers</a>,
      <a href="#">watches</a>&nbsp;to <a href="#">wallets</a>, our
      selection of over 60,000 products has something for every
      style.
    </p>

    <p>
      Boost your basics and browse through our edit of off-duty
      essentials. From denim to jersey, button-up shirts to
      chino shorts, our edit of mens and womens apparel has something
      for every style. Scan through our selection of
      womens <a href="#">dresses</a>, including
      everything from elegant <a href="#">cocktail dresses</a> to
      glamorous gowns and party-perfect
      shifts, or our collection of suits and <a href="#">blazers</a>
      for a smart formal look.
      Put your best foot forward with a new pair of <a href="#">shoes</a>.
      Whether you're after <a href="#">flats</a> or <a href="#">heels</a>, <a href="#">
        dress shoes
      </a>or <a href="#">ankle boots</a>,
      THE WT's selection of footwear will instantly elevate any
      outfit. Protect yourself from the elements, looking
      through our range of knitwear, <a href="#">jackets</a>
      and coats, choosing from
      classic monochrome designs and brightly patterned pieces,
      picking styles that can be coordinated into your
      pre-existing wardrobe. Pull together off-duty outfits with
      our range of mens and womens accessories. Keep it casual
      with beanies and soft knitted scarves, or lend instant elegance
      to outfits with a premium leather bag or designer
      watch.
    </p>
    <p>
      With a stylish selection of clothes and shoes online,
      THE WT is your one-stop shop for your wardrobe essentials.
    </p>

    <p>(Text copied from <a href="https://www.theiconic.com.au/">THE ICONIC</a>)</p>
  </div>

</div>
