/* The font text of the title*/
@import url(http://fonts.googleapis.com/css?family=Pacifico);

@import url(http://fonts.googleapis.com/css?family=Merienda+One);


/***********************
    scrollbar
************************/

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1F618D;
  border-radius: 10px;
}

/***********************
    Title setting
************************/

h1 {
  font: 400 3em/1.5 'Pacifico', Helvetica, sans-serif;
  color: White;
  text-shadow: 0.3em 0.3em 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
  background: #484848;
  position: relative;
  text-align: center;
}

/***********************
    All the basic setting
************************/


* {
  font-family: cursive;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #E0E0E0;
  color: #2b2e35;
  width: 100%;
  height: 100%;
}

div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/***********************
    special-offer
************************/

#special-offer {
  padding-top: 50px;
  text-align: center;
}

  #special-offer p {
    font-size: 1.2em;
    font-weight: bold;
    color: crimson;
  }


  #special-offer a {
    font-weight: bold;
    color: crimson;
  }


    #special-offer a:hover {
      color: white;
    }






/***********************
    Body
************************/



.featured {
  text-align: center;
  padding-top: 30px;
  padding-bottom:
}


  .featured img {
    position: relative;
    width: 100%;
    width: 100%;
  }

  .featured h2 {
    position: relative;
    font-family: cursive;
    background: -webkit-linear-gradient(#D32F2F, #EF9A9A );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 10px;
  }

  .featured .description {
    font-size: 1em;
    font-weight: bold;
    display: block;
  }

  .featured input[type=number] {
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 10%;
    text-align: center;
  }

  .featured input[type=submit] {
    padding: 2px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }







/***********************
    Body productlist
************************/



.productlist {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  /*width: 25%;*/
  width: 25em;
  height: 30%;
  margin: 3% 3% 3% 3%;
  background: transparent;
}

  .product img {
    overflow: hidden;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    vertical-align: top;
  }


  .product h2 {
    text-align: left;
    font-size: 1em;
    padding-bottom: 3px;
  }

    .product h2 a {
      text-decoration: none;
      color: black;
    }

      .product h2 a:hover {
        color: burlywood;
      }

  .product form {
    display: block;
  }

  .product input[type=number] {
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 7.5em;
    text-align: center;
  }

  .product input[type=submit] {
    padding: 2px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

    .product input[type=submit]:hover {
      background: white;
      color: #444;
    }


/***********************
    promotional-text
************************/
#promotional-text {
  padding-left: 11%;
  display: block;
  background: url("/assets/background.jpg");
  text-align: center;
}

  #promotional-text p {
    text-align: center;
    width: 80%;
    padding: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
  }

    #promotional-text p a {
      text-decoration: none;
      text-align: center;
    }


